<!-- Page Sidebar侧边栏 -->
			<div class="page-sidebar" id="sidebar">
				<!-- Page Sidebar Header-->
				<div class="sidebar-header-wrapper">
					<input type="text" class="searchinput" /> <i
						class="searchicon fa fa-search"></i>
					<div class="searchhelper">Search Reports, Charts, Emails or
						Notifications</div>
				</div>
				<!-- /Page Sidebar Header -->
				<!-- Sidebar Menu -->
				<ul class="nav sidebar-menu">
					<!-- 管理员管理 -->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i  class="menu-icon fa fa-user"></i> 
							<span class="menu-text">管理员 </span> 
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="#" class="menu-dropdown"> 
									<span  class="menu-text">超级管理员</span> 
									<i class="menu-expand"></i>
								</a>

								<ul class="submenu">
									<li>
										<a href="font-awesome.html">
											<i  class="menu-icon fa fa-rocket"></i> 
											<span class="menu-text">管理员列表</span>
										</a>
									</li>
									<li>
										<a href="glyph-icons.html"> 
											<i  class="menu-icon glyphicon glyphicon-stats"></i> 
											<span class="menu-text">Glyph Icons</span>
										</a>
									</li>
									<li>
										<a href="typicon.html"> 
											<i  class="menu-icon typcn typcn-location-outline"></i> 
											<span  class="menu-text"> Typicons</span>
										</a>
									</li>
									<li>
										<a href="weather-icons.html"> 
											<i  class="menu-icon wi-day-snow"></i> 
											<span class="menu-text">Weather Icons</span>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{:url('index')}"> 
									<span class="menu-text">管理员列表</span>
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="menu-text">用户列表</span>
								</a>
							</li>
							<li>
								<a href="modals.html"> 
									<span class="menu-text">用户组列表</span>
								</a>
							</li>
							<li>
								<a href="buttons.html"> 
									<span class="menu-text">权限列表</span>
								</a>
							</li>
							<li>
								<a href="nestable-list.html"> 
									<span class="menu-text"> Nestable List</span>
								</a>
							</li>
							<li>
								<a href="treeview.html"> 
									<span class="menu-text">Treeview</span>
								</a>
							</li>
						</ul>
					</li>
					
					<!--栏目列表-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i class="menu-icon fa fa-sitemap"></i> 
							<span class="menu-text">栏目</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="#"><span class="menu-text">栏目列表</span></a>
							</li>
						</ul>
					</li>
					
					<!--文章管理-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i  class="menu-icon fa fa-pencil-square-o"></i> 
							<span  class="menu-text">文章管理</span> 
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="#"> 
									<span class="menu-text">文章列表</span>
								</a>
							</li>
						</ul>
					</li>
					<!--Charts-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i class="menu-icon fa fa-bar-chart-o"></i> 
							<span class="menu-text">报表统计</span> 
							<i class="menu-expand"></i>
						</a>

						<ul class="submenu">
							<li>
								<a href="flot.html"> 
									<span class="menu-text">Flot　Charts</span>
								</a>
							</li>

							<li>
								<a href="morris.html"> 
									<span class="menu-text">Morris Charts</span>
								</a>
							</li>
							<li>
								<a href="sparkline.html"> 
									<span class="menu-text">Sparkline　Charts</span>
								</a>
							</li>
							<li>
								<a href="easypiecharts.html"> 
									<span　class="menu-text">Easy Pie Charts</span>
								</a>
							</li>
							<li>
								<a href="chartjs.html"> 
									<span class="menu-text">ChartJS</span>
								</a>
							</li>
						</ul>
					</li>
					
					<!--信息管理-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i class="menu-icon fa fa-envelope-o"></i> 
							<span class="menu-text">信息管理</span> 
							<i class="menu-expand"></i>
						</a>

						<ul class="submenu">
							<li><a href="inbox.html"> <span class="menu-text">Inbox</span>
							</a></li>

							<li><a href="message-view.html"> <span class="menu-text">View
										Message</span>
							</a></li>
							<li><a href="message-compose.html"> <span
									class="menu-text">Compose Message</span>
							</a></li>
						</ul>
					</li>
					
					<!--配置项-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i  class="menu-icon fa  fa-cogs"></i> 
							<span class="menu-text">配置项</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="#" >
									<span>配置列表</span>
								</a>
							</li>
						</ul>
					</li>
					
					<!--Pages-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i  class="menu-icon glyphicon glyphicon-paperclip"></i> 
							<span class="menu-text"> 连接管理 </span> 
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="timeline.html"> 
									<span class="menu-text">Timeline</span>
								</a>
							</li>
							<li>
								<a href="pricing.html"> 
									<span class="menu-text">Pricing	Tables</span>
								</a>
							</li>

							<li>
								<a href="invoice.html"> 
									<span class="menu-text">Invoice</span>
								</a>
							</li>

							<li>
								<a href="login.html"> 
									<span class="menu-text">Login</span>
								</a>
							</li>
							<li>
								<a href="register.html"> 
									<span class="menu-text">Register</span>
								</a>
							</li>
							<li>
								<a href="lock.html"> 
									<span class="menu-text">Lock Screen</span>
								</a>
							</li>
							<li>
								<a href="typography.html"> 
									<span class="menu-text">Typography</span>
								</a>
							</li>
						</ul>
					</li>
					<!--More Pages-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i class="menu-icon glyphicon glyphicon-link"></i> 
							<span class="menu-text"> More Pages </span> 
							<i class="menu-expand"></i>
						</a>

						<ul class="submenu">
							<li>
								<a href="error-404.html"> 
									<span class="menu-text">Error 404</span>
								</a>
							</li>

							<li>
								<a href="error-500.html">
									<span class="menu-text">Error 500</span>
								</a>
							</li>
							<li>
								<a href="blank.html"> 
									<span class="menu-text">Blank Page</span>
								</a>
							</li>
							<li>
								<a href="grid.html"> 
									<span class="menu-text">Grid</span>
								</a>
							</li>
							<li>
								<a href="#" class="menu-dropdown"> 
									<span class="menu-text"> Multi Level Menu </span>
									<i class="menu-expand"></i>
								</a>

								<ul class="submenu">
									<li>
										<a href="#"> 
											<i class="menu-icon fa fa-camera"></i>
											<span class="menu-text">Level 3</span>
										</a>
									</li>

									<li>
										<a href="#" class="menu-dropdown"> 
											<i class="menu-icon fa fa-asterisk"></i> 
											<span class="menu-text">Level 4 </span> 
											<i class="menu-expand"></i>
										</a>

										<ul class="submenu">
											<li>
												<a href="#"> 
													<i class="menu-icon fa fa-bolt"></i>
													<span class="menu-text">Some Item</span>
												</a>
											</li>

											<li>
												<a href="#"> 
													<i class="menu-icon fa fa-bug"></i>
													<span class="menu-text">Another Item</span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>

						</ul>
					</li>
					<!--系统-->
					<li>
						<a href="#" class="menu-dropdown"> 
							<i class="menu-icon fa fa-cog"></i> 
							<span class="menu-text">系统</span> 
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							<li>
								<a> 
									<span class="menu-text">是否允许注册</span> 
										<label class="pull-right margin-top-10"> 
										<input id="rtl-changer" class="checkbox-slider slider-icon colored-primary" type="checkbox"> 
										<span class="text"></span>
									</label>
								</a>
							</li>
							<li>
								<a href="index-rtl-ar.html"> 
									<span class="menu-text">用户列表</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- /Sidebar Menu -->
			</div>
			<!-- /Page Sidebar -->